.shop-summary{
    width: 56.25rem;
}

.cart-total-price{
    width: 19.688rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-cart{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop-summary .table-cart thead{
    font-size: 20px;
}

.shop-summary .table-cart tbody, .total{
    font-size: 18px;
}

#home{
    position: relative;
    top: -1.6px;
}

#product-thumbnail img{
    height: 6.875rem;
    width: 6.25rem;
}

#item-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

#qty input{
    width: 3.438rem;
}

.billing-detail{
    width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.order{
    width: 520px;
}

.order-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#product-thumb{
    height: 110px;
    width: 100px;
}