@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.signin-login {
  padding: 1rem 0 3rem 0;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #FFFFFF,#E7ECFF);
  background: linear-gradient(to right,#e4e4e4,#E7ECFF);
}

.wrapper {
  margin: 1rem auto auto auto;
  position: relative;
  width: 800px;
  min-height: 575px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(35, 34, 34, 0.35);
  border-radius: 10px;
  overflow: auto;
}

#login{
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#login:hover{
  background-color: white;
  color:#0f2e40;
}

.wrapper a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.form-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#hom{
  font-size: 30px;
}

#hom:hover{
  color: #14394e;
}


.wrapper form {
  height: 100%;
  background: #fff;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper span {
  font-size: 12px;
}

.wrapper input {
  background: #eee;
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 14px;
}

.wrapper input:focus{
  border: 0.5px solid #0f2e40;
}

#forgot{
  color: #ee6846;
}

.wrapper button {
  background: #ee6846;
  padding: 10px 45px;
  border: 1px solid transparent;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}

.wrapper button:hover {
  background: #df5533;
}

.signin {
  left: 0;
  width: 50%;
  z-index: 2;
  color: #0f2e40;
}

.toggle-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  z-index: 1000;
  transition: all 0.6s ease-in-out;
}

.toggle {
  position: relative;
  height: 100%;
  width: 200%;
  background: #0f2e40;
  color: #fff;
  left: -100%;
  transition: all 0.6s ease-in-out;
}

.panel {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.right {
  right: 0;
  transform: translateX(0);
}

.wrapper p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.wrapper .panel button {
  background-color: transparent;
  border-color: #fff;
}

.wrapper.active .toggle-wrapper {
  border-radius: 0 10px 10px 0;
  transform: translateX(-100%);
}

.wrapper.active .toggle {
  transform: translateX(50%);
}

.wrapper.active .right {
  transform: translateX(200%);
}

.left {
  transform: translateX(-200%);
}

.wrapper.active .left {
  transform: translateX(0);
}

.wrapper.active .signin {
  transform: translateX(100%);
}

.signup {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.wrapper.active .signup {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: anim 0.6s linear;
  color: #0f2e40;
}

@keyframes anim {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
