{% extends 'base.html' %}
{% load static %}
{% block title %}{{ auction.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auction3.css' %}" />
<div class="flex mt-4 justify-evenly">
    <div class="mr-2">
        <img src="{{ auction.image.url }}" class="rounded-md ml-4" style="max-width: 25rem;">
    </div>

    <div class="col-span-2 p-5 rounded-xl" style="min-width: 34.375rem;">
        <h1 class="mb-2 text-[#ee6846] text-3xl font-medium">{{ auction.name }}</h1>
        <hr>
        <div class="flex">
            <p class="mt-3 text-2xl mr-5 font-medium"><span class="text-gray-400">Current Bid: </span class="text-[#0f2e40]">${{ current_bid }}</p>
        </div>
        <p class="text-gray-500 mt-1"><strong>Auctioneer: </strong>{{ auction.auctioneer }}</p>
        <p class="text-gray-500 mt-1 mb-2"><strong>Tags:</strong>
            {% for tag in auction.tags.all %}
                <a href="#">
                    #{{ tag.name }},
                </a>
            {% endfor %}
        </p>
        <hr> 

        <h1 id="winner" class="display-4 text-2xl font-semibold text-center mt-4 text-[#FF004D]" ></h1>
        <!-- Auction Timer -->
        <div id="clockdiv" class="mt-2 flex justify-evenly px-6 py-3">
            <div class="text-center">
              <span class="days bg-emerald-700 p-2 font-semibold"></span>
              <div class="smalltext font-medium">Days</div>
            </div>
            <div class="text-center">
              <span class="hours bg-emerald-700 font-semibold"></span>
              <div class="smalltext font-medium">Hours</div>
            </div>
            <div class="text-center">
              <span class="minutes bg-emerald-700 font-semibold"></span>
              <div class="smalltext font-medium">Minutes</div>
            </div>
            <div class="text-center">
              <span class="seconds bg-emerald-700 font-semibold"></span>
              <div class="smalltext font-medium">Seconds</div>
            </div>
        </div>
        <div class="flex my-4 justify-evenly">
            <div>
                <form method="get GET" action ="{% url 'product:bids' %}">
                    <input id="bid-input" name= "bid_amnt" value="{{ current_bid }}" class="border p-2 rounded-lg">
                      
                    <button onclick="var result = document.getElementById('bid-input'); var sst = result.value; if( !isNaN( sst )) result.value= parseInt(result.value)+parseInt(5); return false;" class="increase items-count px-3 py-2 bg-[#0f2e40] rounded-lg text-white" type="button"><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
                    
                    <button type="submit" name="auct_d" value ="{{ auction.id }}" class="inline-block py-2 border border-[#ee6846] font-medium text-[#ee6846] rounded-md hover:bg-[#ee6846] px-6 text-center hover:text-white ml-5"><i class="fa fa-gavel"></i> &nbsp;Bid</button>
                </form>
            </div>
        </div>


        <div class="flex justify-center mt-8">
            <span class="py-2 mr-3 text-emerald-500 text-xl font-medium">Want to predict the bid ?</span>
            <button class="inline-block py-2 font-medium text-white bg-[#ee6846] rounded-md hover:bg-[#ee5646] px-6 text-center hover:text-white"><i class="fa fa-gavel"></i> &nbsp;Predict</button>
        </div>
    </div>

    <div>
        <div class="bg-gray-100 rounded-xl p-4">
            {% if request.user == auction.made_by %}
                <div class="p-3 text-center bg-white rounded-xl" style="min-width: 12.5rem;">
                    <p>This is your Product.</p>
                    <a href="#" class="inline-block mt-6 px-5 py-2 font-medium bg-emerald-500 text-white rounded-md hover:bg-emerald-500 mr-4 w-full">Edit</a><br>
                    <a href="#" class="inline-block mt-3 px-5 py-2 font-medium bg-rose-600 text-white rounded-md hover:bg-rose-700 w-full">Delete</a>
                </div>
            {% else %}  
            <div style="min-width: 12.5rem;">
                <div class="w-full mb-2 p-2 h-3/4 rounded-lg text-center">
                    <p class="mb-1 text-[#0f2e40] font-semibold text-2xl">Auctioneer</p>
                </div>
                <div class="flex align-middle mb-2 justify-center">
                    <img src="{{ auction.auctioneer.image.url }}" alt="image" style="height: 70px; width: 70px; object-fit: cover;" class="rounded-full mr-4">
                    <p class="font-semibold flex justify-center items-center text-xl text-[#ee6846]">
                        {{ auction.auctioneer }}
                    </p>
                </div>
                <hr class="mb-3">
                <div class="mb-1 items-center flex justify-center">
                    <i class="fa-solid fa-location-dot text-[#ee6846]"></i> &nbsp;<span class="font-medium mr-1">Address:</span> <span class="ml-1">{{ auction.auctioneer.address }}</span>
                </div>
                <div class="flex items-center justify-center">
                    <i class="fa fa-phone text-[#ee6846]"></i> &nbsp;<span class="font-medium mr-1">Contact:</span> <span class="ml-1">{{ auction.auctioneer.contact }}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<!-- auction description -->
<div class="mt-6 px-10 py-12 bg-gray-100  mb-4">
    <strong class="text-gray-500 text-xl">Description:</strong><br>
    {% if auction.description %}
    <p class="text-gray-700 mt-3">
        {{ auction.description }}
    </p>
    {% endif %}
</div>
<!-- similar auctions section -->
<div class="mt-5 px-6 py-10 mx-4 mb-4">
    <h2 class="mb-12 text-2xl text-[#0f2e40] text-center font-semibold">Related auctions</h2>

    <div class="container mt-8 gap-2" id="p-section">
        {% for auction in related_auctions %}
            <div class="card">
                <a href="{% url 'product:auction_detail' auction.id %}" class="detail">
                    <div>
                        <img src="{{ auction.image.url }}" class="rounded-t-xl border-1" id="product">
                    </div>

                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ auction.name }}</h3>
                        <div class="flex">
                            <strong class="text-gray-900">Current Bid:</strong>
                            <p class="text-gray-700 text-center ml-2"><span id="price">$</span>{{ auction.bid }}</p>
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script defer>

var endingtime = "{{ endingtime|date:'M j, Y G:i:s' }}";

var countDownDate = new Date(endingtime).getTime();
//for 1000ms
var x = setInterval(function(){
	function formatNumberWithTwoDigits(number) {
        return number < 10 ? '0' + number : number;
    }
 
    var now = new Date().getTime();
    var difference = countDownDate - now;
  

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(difference / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
	    (difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((difference % (1000 * 60)) / 1000);

  
    var daysSpan = document.querySelector('.days');
    var hoursSpan = document.querySelector('.hours');
    var minutesSpan = document.querySelector('.minutes');
    var secondsSpan = document.querySelector('.seconds');

    daysSpan.innerHTML=formatNumberWithTwoDigits(days);
    hoursSpan.innerHTML=formatNumberWithTwoDigits(hours);
    minutesSpan.innerHTML=formatNumberWithTwoDigits(minutes);
    secondsSpan.innerHTML=formatNumberWithTwoDigits(seconds);


    if (difference < 0) {
	    clearInterval(x);
	    daysSpan.innerHTML="00";
        hoursSpan.innerHTML="00";
        minutesSpan.innerHTML="00";
        secondsSpan.innerHTML="00";
        if(winner){
            document.getElementById('winner').textContent="The Winner is " + winner;
        }else{
	        document.getElementById('winner').textContent="No Winner declared";
        }

	    document.getElementById("bid-input").disabled = true;
	    var bidbutton=document.getElementById("bid-input");
	    if( bidbutton.disabled === true )
	    {
		    document.getElementById("demo").innerHTML = "The Auction has Ended";
	    }
    }
},100); 
</script>

{% endblock %}