{% extends 'base.html' %}
{% load static %}

{% block title %}Bid Lists |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/shop2.css' %}" />


<div class="mt-5">
    <h2 class="mb-3 text-2xl font-semibold">All Auctions</h2>
    <p class="text-center">We found <span class="text-emerald-500">{{ auctions.count }}</span> auctions for you.</p>
</div>

<div class="flex mt-10 cont">
    <!------------------------------------------------------------>
    <!---------------------- filter section ---------------------->
    <!------------------------------------------------------------>
    <div class="ml-4 mb-4 filter">
        <!-- Product Categories -->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Auction categories</h2><hr class="mb-3">
            
            <div class="mb-3">
                {% for c in categories %}
                        <li class="flex text-center list-none py-1 px-2 rounded-md mx-4{% if c.id == category_id %} bg-[#fcac10] text-white{% endif %}">
                            <img src="{{ c.image.url }}" alt="image" style="height: 25px; width: 30px;" class="rounded-full mr-2">
                            <a href="{% url 'product:bid' %}?query={{ query }}&c={{ c.id }}">{{ c.name }}</a>
                        </li>
                {% endfor %}
            </div>
        </div>

        <!------------------------- Vendors ------------------------->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Auctioneers</h2>
            <hr class="mb-3">
            
            <div class="mb-3">
                {% for auctioneer in auctioneers %}
                    <li class="text-center list-none py-1 px-2 rounded-md mx-4{% if auctioneer.id == auctioneer_id %} bg-[#fcbe00] text-white{% endif %}">
                        <a href="{% url 'product:bid' %}?query={{ query }}&auctioneer={{ auctioneer.id }}">{{ auctioneer.title }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>

        <a href="{% url 'product:bid' %}" class="mt-2 py-2 w-full inline-block bg-rose-600 text-center text-lg rounded-md text-white hover:bg-rose-700">Clear Filters</a>

    </div>


    <!------------------------------------------------------------>
    <!---------------------- shop products ----------------------->
    <!------------------------------------------------------------>
    <div class="container gap-2" id="p-section">
        {% for auction in auctions %}
            <div class="card">
                <a href="{% url 'product:auction_detail' auction.id %}" class="detail">
                    <div>
                        <img src="{{ auction.image.url }}" class="rounded-t-xl border-1" id="product">
                    </div>

                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl text-center font-medium mb-2">{{ auction.name }}</h3>
                        <div class="flex">
                            <strong class="text-gray-900">Current Bid:</strong>
                            <p class="text-gray-700 text-center ml-2"><span id="price">$</span>{{ auction.bid }}</p>
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}