{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />

<main>
    <div class="mt-8 mb-12 ">
        <h2 class="text-4xl text-[#253D4E] font-bold text-center mb-4">Checkout</h2>
        <h3 class="text-center"><a href="{% url 'core:index' %}" class="text-gray-500 hover:text-orange-500"><i id="home" class="fa fa-home text-xs"></i> Home</a> / Checkout</h3>
    </div>

    <h2 class="text-center font-medium mb-8 text-xl">There 
        {% if totalcartitems == 1 %}
            is
        {% else %}
            are
        {% endif %} <span class="text-emerald-500">
            {{ totalcartitems }}</span> 
        {% if totalcartitems == 1 %}
            Product
        {% else %}
            Products
        {% endif %} in your cart
    </h2>

    <div class="flex justify-around">
        <div class="billing-detail mb-10 p-4 rounded-lg">
            <h2 class="text-2xl font-medium mb-3">Billing Details</h2>
            <hr>
            <div>
                <form action="" class="flex flex-col my-4">
                    <div class="flex w-full">
                        <input type="text" class="mt-3 mr-2 mb-4 p-3 border rounded-lg w-1/2" name="" placeholder="First Name *" required>
    
                        <input type="text" class="w-1/2 ml-2 mt-3 mb-4 p-3 border rounded-lg" name="" placeholder="Last Name *" required>
                    </div>

                    <input type="text" class="mt-2 mb-4 p-3 border rounded-lg" name="" placeholder="City *" required>

                    <input type="text" class="mt-2 mb-4 p-3 border rounded-lg" name="" placeholder="State *" required>

                    <input type="text" class="mt-2 mb-4 p-3 border rounded-lg" name="" placeholder="Country *" required>

                    <input type="email" class="mt-2 mb-4 p-3 border rounded-lg" name="" placeholder="Email *" required>

                    <input type="number" class="mt-2 mb-4 p-3 border rounded-lg" name="" placeholder="Phone no. *" required>

                    <button type="submit" class="bg-emerald-500 text-white p-3 rounded-lg hover:bg-emerald-700"> Submit Details</button>

                </form>
            </div>
        </div>

        <div class="order">
            <div class="order-container mb-12 p-4 rounded-lg w-auto">
                <h2 class="text-2xl font-medium mb-3">Your Order</h2>
                <hr class="mb-2">
                <table class="w-full text-center">
                    <tbody>
                        {% for product_id, item in cart_data.items %}
                            <tr class="border-b">
                                <td id="product-thumb" class="image p-2">
                                    <img src="{{ item.image }}" alt="#" class="border rounded-lg object-contain">
                                </td>
                                <td>
                                    <p id="item-name"><a href="{% url 'product:detail' item.pid %}" class="hover:text-rose-700">{{ item.title|truncatechars:25 }}</a></p>
                                </td>
        
                                <td class="text-emerald-500 px-3 py-3">${{ item.price }}</td>
        
                                <td class="px-3 py-3 text-gray-500" id="qty">
                                    x {{ item.qty }}
                                </td>
        
                                <td class="text-emerald-500 px-3 py-3">${% widthratio item.price 1 item.qty %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="flex justify-between mt-2 text-xl font-semibold">
                    <h2>Total</h2>
                    <p class="text-emerald-500" id="total">${{ cart_total_price|floatformat:2 }}</p>
                </div>
            </div>

            <div>
                <h2 class="text-2xl font-semibold mb-8 flex justify-center">Payment</h2>
                <div class="mb-4 flex justify-center">
                    <select name="payment" class="py-2 px-5 border rounded-lg">
                        <option value="cod">Cash on Delivery</option>
                    </select>
                </div>
                
                <a href="{% url 'product:payment-completed' %}" class="flex justify-center bg-emerald-500 text-white px-10 py-3 rounded-lg hover:bg-emerald-700 w-full">Place Order &nbsp; <i class="fab fa-bitcoin relative top-1.5"></i></a>
            </div>
        </div>

    </div>
</main>
{% endblock %}