{% extends 'base.html' %}
{% load static %}

{% block title %}Search |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/search2.css' %}" />

<h2 class="font-medium text-xl mt-5">You searched for <span class="text-emerald-500">{{ query }}</span></h2>
<div class="flex mt-10 cont1">
    <!------------------------------------------------------------>
    <!---------------------- filter section ---------------------->
    <!------------------------------------------------------------>
    <div class="ml-4 mb-4 filter">
        <!-- Product Categories -->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Product categories</h2><hr class="mb-3">
            
            <div class="mb-3">
                {% for category in categories %}
                        <li class="text-center list-none py-2 px-2 rounded-xl mx-5{% if category.id == category_id %} bg-gray-200{% endif %}">
                            <a href="{% url 'product:search' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                        </li>
                {% endfor %}
            </div>
        </div>

        <!-- Vendors -->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Vendors</h2>
            <hr class="mb-3">
            
            <div class="mb-3">
                {% for vendor in vendors %}
                    <li class="text-center list-none py-2 px-2 rounded-xl mx-5{% if vendor.id == vendor_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'product:search' %}?query={{ query }}&vendor={{ vendor.id }}">{{ vendor.title }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>

    </div>


    <!------------------------------------------------------------>
    <!---------------------- shop products ----------------------->
    <!------------------------------------------------------------>
    <div class="flex container mx-4 mb-4" id="p-section1">
        {% for product in products %}
            <div class="card">
                <a href="{% url 'product:detail' product.id %}" class="detail">
                    <div>
                        <img src="{{ product.image.url }}" class=" border-1" id="product">
                    </div>
    
                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ product.title }}</h3>
                        <p class="text-gray-700 text-center"><span id="price">$</span>{{ product.price }}</p>
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}