{% extends 'base.html' %}
{% load static %}

{% block title %}Shop |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}" />


<div class="mt-5">
    <h2 class="mb-3 text-2xl font-semibold">All Products</h2>
    <p class="text-center">We found <span class="text-emerald-500">{{ products.count }}</span> products for you.</p>
</div>

<div class="flex mt-10 cont">
    <!------------------------------------------------------------>
    <!---------------------- filter section ---------------------->
    <!------------------------------------------------------------>
    <div class="ml-4 mb-4 filter">
        <!-- Product Categories -->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Product categories</h2><hr class="mb-3">
            
            <div class="mb-3">
                {% for category in categories %}
                        <li class="flex text-center list-none py-1 px-2 rounded-md mx-4{% if category.id == category_id %} bg-[#fcac10] text-white{% endif %}">
                            <img src="{{ category.image.url }}" alt="image" style="height: 25px; width: 30px;" class="rounded-full mr-2">
                            <a href="{% url 'product:shop' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                        </li>
                {% endfor %}
            </div>
        </div>

        <!------------------------- Vendors ------------------------->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Vendors</h2>
            <hr class="mb-3">
            
            <div class="mb-3">
                {% for vendor in vendors %}
                    <li class="text-center list-none py-1 px-2 rounded-md mx-4{% if vendor.id == vendor_id %} bg-[#fcbe00] text-white{% endif %}">
                        <a href="{% url 'product:shop' %}?query={{ query }}&vendor={{ vendor.id }}">{{ vendor.title }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>

        <a href="{% url 'product:shop' %}" class="mt-2 py-2 w-full inline-block bg-rose-600 text-center text-lg rounded-md text-white hover:bg-rose-700">Clear Filters</a>

    </div>


    <!------------------------------------------------------------>
    <!---------------------- shop products ----------------------->
    <!------------------------------------------------------------>
    <div class="flex container mx-4 mb-4" id="p-section">
        {% for product in products %}
            <div class="card">
                <a href="{% url 'product:detail' product.id %}" class="detail">
                    <div>
                        <img src="{{ product.image.url }}" class=" border-1" id="product">
                    </div>
    
                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ product.title }}</h3>
                        <p class="text-gray-700 text-center"><span id="price">$</span>{{ product.price }}</p>
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}