{% extends 'base.html' %}
{% load static %}

{% block title %}Shop |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/shop2.css' %}" />


<div class="mt-5">
    <h2 class="mb-3 text-2xl text-[#0f2e40] font-semibold">All Products</h2>
    <p class="text-center">We found <span class="text-emerald-500">{{ products.count }}</span> products for you.</p>
</div>

<div class="flex mt-10 cont">
    <!------------------------------------------------------------>
    <!---------------------- filter section ---------------------->
    <!------------------------------------------------------------>
    <div class="ml-4 mb-4 filter">
        <!-- Product Categories -->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Product categories</h2><hr class="mb-3">
            
            <div class="mb-3">
                {% for category in categories %}
                        <li class="flex text-center list-none py-1 px-2 rounded-md mx-4{% if category.id == category_id %} bg-[#ee6846] text-white{% endif %}">
                            <img src="{{ category.image.url }}" alt="image" style="height: 25px; width: 30px;" class="rounded-full mr-1">
                            <a href="{% url 'product:shop' %}?query={{ query }}&category={{ category.id }}">{{ category.name }} ({{ category.products.all.count }})</a>
                        </li>
                {% endfor %}
            </div>
        </div>

        <!------------------------- Vendors ------------------------->
        <div class="border mb-6">
            <h2 class="text-xl font-semibold mt-3 mb-2">Vendors</h2>
            <hr class="mb-3">
            
            <div class="mb-3">
                {% for vendor in vendors %}
                    <li class="text-center list-none py-1 px-2 rounded-md mx-4{% if vendor.id == vendor_id %} bg-[#ee6846] text-white{% endif %}">
                        <a href="{% url 'product:shop' %}?query={{ query }}&vendor={{ vendor.id }}">{{ vendor.title }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>

        <a href="{% url 'product:shop' %}" class="mt-2 py-2 w-full inline-block bg-rose-600 text-center text-lg rounded-md text-white hover:bg-rose-700">Clear Filters</a>

    </div>


    <!------------------------------------------------------------>
    <!---------------------- shop products ----------------------->
    <!------------------------------------------------------------>
    <div class="container gap-2" id="p-section">
        <div class="mb-3">
            <img src="{% static 'assets/banner.png' %}" alt="banner" id="banner">
        </div>
        {% for p in products %}
            <div class="card">
                <div class="detail">
                    <div>
                        <img src="{{ p.image.url }}" id="product">
                        <!-- we are making all hidden input so that function.js can take the value of the product and add to cart from homepage -->
                        <div class="text-center" id="home-cart">
                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">

                            <input type="hidden" value="{{ p.id }}" class="product-pid-{{ p.id }}">

                            <input type="hidden" value="{{ p.image.url }}"
                            class="product-image-{{ p.id }}">

                            <input type="hidden" value="{{ p.id }}" class="product-id-{{ p.id }}">

                            <input type="hidden" value="{{ p.title }}" class="product-title-{{ p.id }}">

                            <button class="add add-to-cart-btn bg-[#ee6846] text-white py-.5 px-3 hover:bg-[#ee6846]" id="add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-regular fa-cart-shopping" ></i></button>
                        </div>
                    </div>

                    <a href="{% url 'product:detail' p.id %}" class="px-5 pt-3 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ p.title }}</h3>
                        <p class="text-gray-800 font-semibold text-center text-xl"><span id="price">$</span><span class="current-price-{{ p.id }}">{{ p.price }}</span><s class="ml-2 text-sm text-gray-400">${{ p.old_price }}</s></p>
                        <div class="go-arrow">
                            →
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}