{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}" defer></script>
    <script src="{% static 'js/function7.js' %}" defer></script>

    <title>{% block title %} {% endblock %} Online Auction</title>
    <script src="https://cdn.tailwindcss.com" defer></script>
    <link rel="stylesheet" href="{% static 'css/base7.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tw-output.css' %}" />


    <link rel="icon" href="{% static 'auction1.png' %}" type="image/x-icon">

</head>

<body style="font-family: 'Quicksand', sans-serif;">
    <div id="preloader">
    </div>

    <div class="flex pt-5 pb-4 justify-around">
        <a href="/" class="py-3 px-4 text-2xl font-bold text-[#0f2e40]"><span class="text-[#ee6846]">AU</span>CTION</a>
        <form action="{% url 'product:search' %}" method="GET get">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative mx-12" id="search-bar">
                <!-- the name attribute in input tag should be same as query field used variable -->
                <input type="text" value="{{ query }}" id="default-search" class="block p-4 ps-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" placeholder="Search Category, Products..." style="min-width: 400px;" name="query" required>
                <button type="submit" class="absolute end-2.5 bottom-2.5 bg-[#ee6846] hover:bg-[#ee5836] font-medium rounded-lg text-white text-sm px-4 py-2">Search</button>
            </div>
        </form>
        <div>
            <a href="{% url 'core:cart-list' %}" class="flex py-3 px-4 text-xl font-medium hover:text-[#ee6846] text-gray-500"><img src="https://nest.apexcode.info/static/assets/imgs/theme/icons/icon-cart.svg" class="mr-1 text-[#0f2e40]" alt="">Cart<span id="cart-number" class="cart-items-count text-sm antialiased text-white bg-[#ee6846] px-2.5 py-1">{{ request.session.cart_data_obj|length }}</span></a>
        </div>
    </div>

    <!-- navigation bar -->
    <nav class="bg-[#0f2e40] text-gray-100 py-4 px-6 flex justify-around items-center border-y border-gray-200 shadow-lg">
    
        <div class="space-x-6">
            <a href="/" class="text-lg font-semibold hover:text-[#ee6846]">Home</a>
            <a href="{% url 'product:shop' %}" class="text-lg font-semibold hover:text-[#ee6846]">Shop</a>
            <a href="{% url 'product:bid' %}" class="text-lg font-semibold hover:text-[#ee6846]">Bid</a>
            <a href="{% url 'core:vendor-list' %}" class="text-lg font-semibold hover:text-[#ee6846]">Vendors</a>
            <a href="#about" class="text-lg font-semibold hover:text-[#ee6846]">About</a>
        </div>
            
        <!-- showing different options based on user type -->
        {% if request.user.is_authenticated %} 
        <div class="dropdown">
                {% if request.user.profile.is_vendor %}
                    <span class="dropbtn text-lg font-semibold hover:text-[#ee6846]">Add <i class="fa-solid fa-plus"></i></span>
                        <div class="dropdown-content">
                            <a href="{% url 'product:new' %}">New Product</a>
                {% endif %}
                    
                {% if request.user.profile.is_auctioneer %}
                    <span class="dropbtn text-lg font-semibold hover:text-[#ee6846]">Add <i class="fa-solid fa-plus"></i></span>
                        <div class="dropdown-content">
                            <a href="{% url 'product:new_auction' %}">New Auction</a>
                {% endif %}
                </div>
            </div>
        {% endif %}

        

        {% if request.user.is_authenticated %}
            <div class="dropdown">
                <span class="dropbtn text-lg font-semibold">&nbsp;<i class="fas fa-user"></i> &nbsp;{{ request.user.username }}</span>
                <div class="dropdown-content">
                    <a href="{% url 'core:profile' %}"><i class="fas fa-user"></i> &nbsp;Profile</a>
                    <hr>
                    <a href="{% url 'core:dashboard' %}"><i class="fa-solid fa-layer-group"></i> &nbsp;Dashboard</a>
                    <hr>
                    <a href="{% url 'userauth:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp;Sign out</a>
                </div>
            </div>
        {% else %}
        <div>
            <a href="{% url 'userauth:login' %}" class="px-4 py-1 text-lg font-medium bg-[#ef6540] text-white rounded-md hover:bg-[#f07a5d] mr-4">Log in</a>
            
            <a href="{% url 'userauth:signup' %}" class="px-4 py-1 text-lg font-medium border border-[#ef6540] text-[#ef6540] hover:text-white rounded-md hover:bg-[#ef6540]">Sign up</a>
        </div>
        {% endif %}
 
    </nav>
    
    <!-- flash messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="flex items-center p-4 my-4 mx-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 " role="alert" id="flash-message">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <div>
                    <span class="font-medium">{{ message }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <script>
         setTimeout(function () {
            $('#flash-message').fadeOut();
        }, 5000);
    </script>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="pt-6">
        <div class="bg-[#0f2e40] p-4 text-white flex justify-around items-center mb-8">
            <p class="font-semibold text-xl">
                Browse through our products library!
            </p>
            <form action="{% url 'product:search' %}" method="GET get">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                <div class="relative" id="search-bar">
                    <!-- the name attribute in input tag should be same as query field used variable -->
                    <input type="text" value="{{ query }}" id="default-search" class="block p-2 ps-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" placeholder="Search Category, Products..." style="min-width: 300px;" name="query" required>
                </div>
            </form>
        </div>

        <div class="end mb-8">
            <div>
                <div><h1 class="text-[#ee6846] text-3xl font-semibold">AUCTION</h1></div>
                <div>CONTACT@gmail.com</div>
            </div>

            <div>
                <div class="mb-3"><strong class="text-[#ee6846] text-xl font-semibold">Company<span id="company"></span></strong></div>
            
                <div>
                    <ul class="space-y-1">
                        <li>
                            <a href="{% url 'core:index' %}" class="deco">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'core:contact' %}"  class="deco">Contact Us</a>
                        </li>
                        <li>
                            <a href="{% url 'core:terms' %}" class="deco">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="mb-3"><strong class="text-[#ee6846] text-xl font-semibold">Online Auction <span id="auction"></span></strong></div>
            
                <div>
                    <ul class="space-y-1">
                        <li>
                            <a href="#" class="deco">Ongoing Auction</a>
                        </li>
                        <li>
                            <a href="#" class="deco">Upcoming Auction</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="mb-3"> 
                    <strong class="text-[#ee6846] text-xl font-semibold">Subscribe Our Newsettler</strong>
                </div>
                
                <div style="color:white">
                    <div><input class="email py-1 px-2 rounded-xl border mb-2" type="text" placeholder="Your E-mail here..." style="min-width: 250px;"></div>
                    <button class="px-4 py-1 text-sm font-medium bg-[#ef6540] text-white rounded-md hover:bg-[#f07a5d] mr-4">Subscribe</button>
                </div>
            </div>
        </div>

        <div class="bg-gray-100 p-3 text-center text-gray-600">
            <p>&#169; 2024 Auction Inc. All Rights Reserved.</p>
        </div>
    </footer>
</body>

<script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
        loader.style.display = "none";
    })
</script>

</html>