{% extends 'base.html' %}
{% block title %}Home |{% endblock %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/home6.css' %}" />


<!------------------------------------------------------------------>
<!-------------------------- Product Section ----------------------->
<!------------------------------------------------------------------>
<div class="mt-10 mb-5 px-6 py-12 bg-[#F4F5F7]">
    <h2 class="mb-12 font-semibold text-3xl text-center underline">Latest Products</h2>

    <div class="container gap-2" id="p-section">
        {% for p in products %}
            <div class="card">
                <div class="detail">
                    <div>
                        <img src="{{ p.image.url }}" class="rounded-t-xl border-1" id="product">
                        <!-- we are making all hidden input so that function.js can take the value of the product and add to cart from homepage -->
                        <div class="text-center" id="home-cart">
                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">

                            <input type="hidden" value="{{ p.id }}" class="product-pid-{{ p.id }}">

                            <input type="hidden" value="{{ p.image.url }}"
                            class="product-image-{{ p.id }}">

                            <input type="hidden" value="{{ p.id }}" class="product-id-{{ p.id }}">

                            <input type="hidden" value="{{ p.title }}" class="product-title-{{ p.id }}">

                            <button class="add add-to-cart-btn bg-yellow-400 text-white py-.5 px-3 hover:bg-yellow-600" id="add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-regular fa-cart-shopping" ></i></button>
                        </div>
                    </div>

                    <a href="{% url 'product:detail' p.id %}" class="px-5 pt-3 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ p.title }}</h3>
                        <p class="text-gray-800 font-semibold text-center text-xl"><span id="price">$</span><span class="current-price-{{ p.id }}">{{ p.price }}</span><s class="ml-2 text-sm text-gray-400">${{ p.old_price }}</s></p>
                        <div class="go-arrow">
                            →
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="mt-6 px-6 py-12">
    <h2 class="mb-12 text-3xl text-center font-semibold">Product Categories</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
            <div>
                <div class="p-6 bg-white rounded-xl text-center">
                    <a href="#" class="hover:text-rose-600">
                        <img src="{{ category.image.url }}" class=" border-1" id="product" alt="Image">
                        <span class="text-2xl font-medium mt-2">{{ category.name }}</span>
                    </a>
                    <p class="text-gray-500 text-center">{{ category.products.count }} items</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!------------------------------------------------------------------->
<!--------------------------- Auction Section ----------------------->
<!------------------------------------------------------------------->
<div class="mt-6 mb-5 px-6 py-12 bg-[#F4F5F7]">
    <h2 class="mb-12 text-3xl text-center font-semibold underline">Ongoing Auctions</h2>

    <div class="container gap-2" id="p-section">
        {% for auction in auctions %}
            <div class="card">
                <a href="{% url 'product:auction_detail' auction.id %}" class="detail">
                    <div>
                        <img src="{{ auction.image.url }}" class="rounded-t-xl border-1" id="product">
                        <span class="ml-2 bg-rose-600 text-white py-1 px-3 rounded-md" id="auction-live"><i class="far fa-dot-circle"> Live</i></span>
                    </div>

                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl text-center font-medium mb-2">{{ auction.name }}</h3>
                        <div class="flex">
                            <strong class="text-gray-900">Current Bid:</strong>
                            <p class="text-gray-700 text-center ml-2"><span id="price">$</span>{{ auction.bid }}</p>
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


<div class="mt-6 px-6 py-12">
    <h2 class="mb-12 text-3xl text-center font-semibold">Auction Categories</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
            <div>
                <div class="p-6 bg-white rounded-xl text-center">
                    <a href="#" class="hover:text-rose-600">
                        <img src="{{ category.image.url }}" class="border-1" id="product">
                        <span class="text-2xl font-medium mt-2">{{ category.name }}</span>
                    </a>
                    <p class="text-gray-500 text-center">{{ category.auctions.count }} items</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}