{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/home4.css' %}" />


<!------------------------------------------------------------------->
<!--------------------------- Product Section ----------------------->
<!------------------------------------------------------------------->
<div class="mt-6 mx-5 mb-5 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 font-semibold italic text-2xl text-center underline">Latest Products</h2>

    <div class="container gap-2" id="p-section">
        {% for product in products %}
            <div class="card">
                <a href="{% url 'product:detail' product.id %}" class="detail">
                    <div>
                        <img src="{{ product.image.url }}" class="rounded-t-xl border-1" id="product">
                    </div>

                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ product.title }}</h3>
                        <p class="text-gray-700 text-center"><span id="price">$</span>{{ product.price }}</p>
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


<div class="mt-6 px-6 py-12">
    <h2 class="mb-12 text-2xl text-center font-semibold italic">Product Categories</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
            <div>
                <div class="p-6 bg-white rounded-xl text-center">
                    <a href="#" class="hover:text-rose-600">
                        <img src="{{ category.image.url }}" class=" border-1" id="product" alt="Image">
                        <span class="text-2xl font-medium mt-2">{{ category.name }}</span>
                    </a>
                    <p class="text-gray-500 text-center">{{ category.products.count }} items</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!------------------------------------------------------------------->
<!--------------------------- Auction Section ----------------------->
<!------------------------------------------------------------------->
<div class="mt-6 mx-5 mb-5 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center font-semibold italic underline">Ongoing Auctions</h2>

    <div class="container gap-2" id="p-section">
        {% for auction in auctions %}
            <div class="card">
                <a href="{% url 'product:auction_detail' auction.id %}" class="detail">
                    <div>
                        <img src="{{ auction.image.url }}" class="rounded-t-xl border-1" id="product">
                    </div>

                    <div class="p-6 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl text-center font-medium mb-2">{{ auction.name }}</h3>
                        <div class="flex">
                            <strong class="text-gray-900">Current Bid:</strong>
                            <p class="text-gray-700 text-center ml-2"><span id="price">$</span>{{ auction.bid }}</p>
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


<div class="mt-6 px-6 py-12">
    <h2 class="mb-12 text-2xl text-center font-semibold italic">Auction Categories</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
            <div>
                <div class="p-6 bg-white rounded-xl text-center">
                    <a href="#" class="hover:text-rose-600">
                        <img src="{{ category.image.url }}" class="border-1" id="product">
                        <span class="text-2xl font-medium mt-2">{{ category.name }}</span>
                    </a>
                    <p class="text-gray-500 text-center">{{ category.auctions.count }} items</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}