{% extends 'base.html' %}
{% load static %}
{% block title %}{{ tag.name }} |{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<div class="mt-2 mb-5 px-6 py-12">
    <h2 class="mb-8 font-semibold text-[#0f2e40] italic text-2xl text-center">Tags with <span class="text-emerald-500">#{{ tag.name }}</span></h2>

    <p class="text-center mb-6">We found <span class="text-emerald-500">{{products.count}}</span> product with <span class="text-emerald-500">#{{ tag.name }}</span> tag for you.</p>

    <div class="container gap-2" id="p-section">
        {% for p in products %}
            <div class="card">
                <div class="detail">
                    <div>
                        <img src="{{ p.image.url }}" class="rounded-t-xl border-1" id="product">
                        <!-- we are making all hidden input so that function.js can take the value of the product and add to cart from homepage -->
                        <div class="text-center" id="home-cart">
                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">

                            <input type="hidden" value="{{ p.id }}" class="product-pid-{{ p.id }}">

                            <input type="hidden" value="{{ p.image.url }}"
                            class="product-image-{{ p.id }}">

                            <input type="hidden" value="{{ p.id }}" class="product-id-{{ p.id }}">

                            <input type="hidden" value="{{ p.title }}" class="product-title-{{ p.id }}">

                            <button class="add add-to-cart-btn bg-yellow-400 text-white py-.5 px-3 hover:bg-yellow-600" id="add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-regular fa-cart-shopping" ></i></button>
                        </div>
                    </div>

                    <a href="{% url 'product:detail' p.id %}" class="px-5 pt-3 border-t-2 bg-white w-70 card1">
                        <h3 class="text-xl font-medium text-center mb-2">{{ p.title }}</h3>
                        <p class="text-gray-800 font-semibold text-center text-xl"><span id="price">$</span><span class="current-price-{{ p.id }}">{{ p.price }}</span><s class="ml-2 text-sm text-gray-400">${{ p.old_price }}</s></p>
                        <div class="go-arrow">
                            →
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}