{% extends 'base.html' %}

{% block content %}
<h1 class="text-3xl font-bold text-center text-[#0f2e40] mt-8 mb-8">Terms and Conditions</h1>

<div class="bg-gray-50 text-gray-800 border-2 border-sky-900/50 mx-6 mb-10 rounded-lg">
    <div class="flex flex-col ml-4 mr-4 mb-4 px-5 py-3">
        <h2 class="text-xl font-semibold mb-5">
            Introduction
        </h2>
        <p>
            Welcome to Online Auction Website! These terms and conditions outline the rules and regulations for the use of our website.
        </p>
        <p class="font-semibold">
            By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Online Auction Website if you do not accept all of the terms and conditions stated on this page.
        </p>
    </div>
    
    <div class="flex flex-col ml-4 mr-4 mb-4 px-5 py-3">
        <h2 class="text-xl font-semibold mb-5">
            License to use
        </h2>
        <p>
            Unless otherwise stated, Online Auction Website and/or its licensors own the intellectual property rights published on this website and materials used on Online Auction Website. Subject to the license below, all these intellectual property rights are reserved.
        </p>
    </div>
    
    <div class="flex flex-col ml-4 mr-4 mb-4 px-5 py-3">
        <h2 class="text-xl font-semibold mb-5">
            You must not
        </h2>
    
        <ul class="list-disc">
            <li>
                Republish material from Online Auction Website
            </li>
            <li>
                Sell, rent, or sub-license material from Online Auction Website
            </li>
            <li>
                Reproduce, duplicate, or copy material from Online Auction Website
            </li>
        </ul>
    </div>
    
    <div class="flex flex-col ml-4 mr-4 mb-4 px-5 py-3">
        <h2 class="text-xl font-semibold mb-5">
            User Content
        </h2>
        <p>
            In these terms and conditions, "Your Content" shall mean any audio, video text, images, or other material you choose to display on this website. By displaying Your Content, you grant [Your Online Auction Website] a non-exclusive, worldwide, irrevocable, sub-licensable license to use, reproduce, adapt, publish, translate, and distribute it in any and all media.
        </p>
    </div>
    
    <div class="flex flex-col ml-4 mr-4 mb-4 px-5 py-3">
        <h2 class="text-xl font-semibold mb-5">
            Disclaimer
        </h2>
        To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website. Nothing in this disclaimer will:
        <ol class="list-decimal">
            <li>
                limit or exclude our or your liability for death or personal injury;        
            </li>
            <li>
                limit or exclude our or your liability for fraud or fraudulent misrepresentation;
            </li>
            <li>
                limit any of our or your liabilities in any way that is not permitted under applicable law; or
            </li>
            <li>
                exclude any of our or your liabilities that may not be excluded under applicable law.
            </li>
        </ol>
    </div>
    
    <div class="flex flex-col ml-4 mr-4 mb-4 px-5 py-3">
        <h2 class="text-lg font-semibold mb-5 text-gray-800">
            Changes to the Terms and Conditions
        </h2>
        <p class="text-gray-800">
            We reserve the right to change these terms and conditions at any time without notice. By using this website, you agree to be bound by the current version of these terms and conditions.
        </p>
    </div>
</div>

{% endblock %}