{% extends 'base.html' %}
{% load static %}
{% block title %}{{request.user}}'s Profile |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile1.css' %}" />
<div>
    <div class="p-4 text-center my-8">
        <h2 class="text-4xl font-bold mb-3 text-[#0f2e40]">My Profile</h2>
        <div class="flex justify-center">
            <hr style="width: 500px;"> 
        </div>
    </div>

    <div class="mb-10 flex justify-center">
        <img src="{{ profile.profile_picture.url }}" alt="" style="width: 120px; height: 120px; object-fit: cover;" class="border rounded-full">
    </div>

    <div class="flex justify-center">
        <div class="profile mx-40 border-2 mb-8 p-4 rounded-lg text-center">
            <div class="flex flex-col">
                <p class="text-2xl font-medium">Username</p>
                <input type="text" class="mt-3 mr-2 mb-4 p-3 border rounded-lg text-center text-emerald-600 text-xl" name="" value="{{request.user}}">
    
                <p class="text-2xl font-medium">Bio</p>
                <textarea class="mt-2 mb-4 p-3 border rounded-lg text-center text-emerald-600 text-xl" name="" id="" cols="30" rows="5" value="{{ profile.bio }}"></textarea>
    
                <p class="text-2xl font-medium">Contact</p>
                <input type="text" class="mt-2 mb-4 p-3 border rounded-lg text-center text-emerald-600 text-xl" name="" value="Contact - {{ profile.contact }}">
                
                <div class="text-center">
                    {% if profile.verified %}
                        ✅ &nbsp; Verfied User 
                    {% else %}
                        ❌ &nbsp; Not Verified User
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center mb-12">
        <button type="submit" class="text-white bg-sky-500 py-3 px-8 rounded-lg hover:bg-sky-600">Save changes</button>
    </div>
</div>
{% endblock %}